:root {
  --orb-dark-purple: #5c1b6f;
  --orb-light-purple: #9331b2;
  --orb-dark-turquoise: #81d8e7;
  --orb-light-turquoise: #b4e9f1;
  --orb-blue: #5972a5;
  --orb-pink: #ffa1ac;
}

.react-chatbot-kit-main-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 300px;
  padding: 10px;
  background-color: var(--orb-pink);
  border: 5px solid var(--orb-dark-purple);
  border-radius: 3px;
}

.react-chatbot-kit-chat-container {
  position: relative;
  height: 500px;
}

.react-chatbot-kit-chat-inner-container {
  background-color: var(--orb-pink);
}

.react-chatbot-kit-chat-header {
  background-color: var(--orb-dark-purple);
  font-family: Arial;
  text-align: center;
  font-size: 0.85rem;
  color: #fff;
  padding: 12px;
  font-weight: bold;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 12px 10px 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

/*------INPUT FORM CSS------*/

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orb-dark-purple);
  padding: 5px;
}

.react-chatbot-kit-chat-input {
  background-color: white;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.85rem;
  padding: 11px;
}

.react-chatbot-kit-chat-input::placeholder {
  color: black;
}

.react-chatbot-kit-chat-input:focus {
  padding: 9px;
  color: black;
  border: 2px solid var(--orb-dark-turquoise);
  outline: none;
}

.react-chatbot-kit-chat-btn-send {
  margin-left: 10px;
  background-color: var(--orb-dark-turquoise);
  border: none;
  border-radius: 10px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: var(--orb-blue);
  width: 15px;
  margin: 0;
}

/*-----CHATBOT MESSAGE CSS-------*/

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 15px 0;
}

.react-chatbot-kit-chat-bot-avatar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--orb-blue);
  border-radius: 50%;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.react-chatbot-kit-chat-bot-message {
  position: relative;
  background-color: var(--orb-light-turquoise);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--orb-blue);
  width: 70%;
  margin-left: auto;
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
  position: absolute;
  left: -7px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--orb-light-turquoise);
}

/*-----USER MESSAGE CSS-------*/

.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
  position: relative;
}

.react-chatbot-kit-user-avatar-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.react-chatbot-kit-user-avatar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.react-chatbot-kit-user-chat-message {
  margin-right: 21%;
  background-color: var(--orb-light-purple);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: white;
  position: relative;
  text-align: left;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--orb-light-purple);
  position: absolute;
  right: -7px;
  top: 13px;
}

/*-----LOADING CSS-------*/

.chatbot-loader-container {
  /*The background color of the loader is inherited from .react-chatbot-kit-chat-bot-message*/
  display: flex;
  width: 80%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
  fill: var(--orb-dark-purple);
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
  fill: var(--orb-dark-purple);
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
  fill: var(--orb-dark-purple);
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-----ERROR CSS-------*/

.react-chatbot-kit-error {
  background-color: var(--orb-pink);
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.react-chatbot-kit-error-docs {
  display: block;
  margin: 25px auto;
  color: var(--orb-blue);
  padding: 8px;
  border: 1px solid var(--orb-blue);
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.react-chatbot-kit-chat-bot-avatar-letter {
    position: relative;
    top: -6px;
}
